{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  {% if importar_docx_url %}
  <div class="flex flex-row items-center">
    <a href="{{ importar_docx_url }}"
       class="addlink bg-primary-600 flex items-center h-[38px] justify-center -my-1 rounded-full px-3 gap-1 text-white text-sm font-medium"
       title="Importar estudo de arquivo Word (.docx)">
      <span class="material-symbols-outlined text-white text-base">upload_file</span>
    </a>
  </div>
  {% endif %}
{% endblock %}
